simulation/sim_inbound_flow.json
[
  {
    "id": "simtab1",
    "type": "tab",
    "label": "MDP Inbound Simulation",
    "disabled": false,
    "info": "Simulates a data source pushing Type A readings into MDP V2 via POST /api/inbound/sim_reading. The API key and base URL come from container env (MDP_INBOUND_KEY / MDP_BASE_URL) — no secret is stored in this flow. Appended on top of the original ESB flows.json."
  },
  {
    "id": "siminject1",
    "type": "inject",
    "z": "simtab1",
    "name": "every 15s",
    "props": [{ "p": "payload" }],
    "repeat": "15",
    "crontab": "",
    "once": true,
    "onceDelay": "3",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 160,
    "y": 120,
    "wires": [["simbuild1"]]
  },
  {
    "id": "simbuild1",
    "type": "function",
    "z": "simtab1",
    "name": "build reading",
    "func": "const base = env.get('MDP_BASE_URL') || 'http://reverse-proxy:8456';\nconst key = env.get('MDP_INBOUND_KEY') || '';\nconst machines = ['M-01', 'M-02', 'M-03'];\nconst m = machines[Math.floor(Math.random() * machines.length)];\nconst now = Date.now();\nmsg.method = 'POST';\nmsg.url = base + '/api/inbound/sim_reading';\nmsg.headers = { 'Content-Type': 'application/json', 'X-API-Key': key };\nmsg.payload = {\n    reading_id: 'R-' + now + '-' + Math.floor(Math.random() * 1000),\n    machine: m,\n    metric: 'temperature',\n    value: Math.round((50 + Math.random() * 50) * 10) / 10\n};\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 380,
    "y": 120,
    "wires": [["simpost1"]]
  },
  {
    "id": "simpost1",
    "type": "http request",
    "z": "simtab1",
    "name": "POST /api/inbound/sim_reading",
    "method": "use",
    "ret": "obj",
    "paytoqs": "ignore",
    "url": "",
    "tls": "",
    "persist": false,
    "proxy": "",
    "insecureHTTPParser": false,
    "authType": "",
    "senderr": false,
    "headers": [],
    "x": 650,
    "y": 120,
    "wires": [["simdebug1"]]
  },
  {
    "id": "simdebug1",
    "type": "debug",
    "z": "simtab1",
    "name": "inbound result",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": true,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "payload.code",
    "statusType": "auto",
    "x": 900,
    "y": 120,
    "wires": []
  }
]
